doctype html
html
	head
		block title
			title Locate
		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry")
		block css
			link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
			link(rel="stylesheet", type="text/css", href="/css/app.css")
	body
		block content
		block scripts
			script.
				var LOGGED_USER = !{JSON.stringify(user)};
			script(type='text/javascript', src="/js/geolocation.polyfill.js")
			script(type='text/javascript', src="/js/app.js")
			script(type='text/javascript', src="//cdn.iframe.ly/embed.js?key=e788d1ee1f6a783106da3dbaa5b1f2f6")