/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/** END RESET **/

body {width: 1000px; margin: auto; font-size: 14px; font-family: "Helvetica Neue", Helvetica, Arial;}

#app  { width: 500px; margin: auto; border: 1px solid #666; height: 800px; margin-top: 200px; padding-top: 10px;}

.post { width: 70%; margin-left: 2%; margin-bottom: 20px;}
	.post .top {overflow: auto; margin-bottom: 10px;}
		.post .top .avatar { float: left; margin-right: 15px;}
			.post .top .avatar img { border-radius: 16px; width: 32px; height: 32px;}
		.post .top .time { color: #777; line-height: 32px;}

	.post .content { border: 1px solid #bbb; border-radius: 5px; margin-bottom: 10px;}
	.post .content.first { border-radius: 0 6px 6px 6px;}
	.post .content.text { padding: 8px;}
	.post .content.image img { width: 100%;}

	.post .location { color:#86247E; }
	.post .location img { vertical-align: middle;}