extends ./layouts/base.jade

block content
	div(id="welcome").
		Bienvenue sur Locate#skate.<br/>Commencez à localiser les posts de skate sur Paris dès maintenant.
	div(id="appholder")
	script.
		ReactDOM.render(
			React.createElement(App),
			document.getElementById('appholder')
		);